


.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
}

.inner{
    width: 1200px;
    margin: 0 auto;
}

.btn{
    cursor: grab;
}
.section_header--block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}



.swiper-button-prev:after, .swiper-button-next:after{
    display: none;
}


.main-tit{
    font-size: 34px;
    font-weight: var(--font-b);
}
.main-subtit{
    font-size: 18px;
    font-weight: var(--font-b);
    color: var(--fc-subtit);
}

.arrow-ic--block{
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.more--block{
    position: relative;
    overflow: hidden;
}
.more--block span{
    display: block;
    z-index: 10;
    background: #fff;
}
.more--block a{
    display: flex;
    align-items: center;
    
}
.more--block .more_ic {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    transition: all .4s ease;
    z-index: 0;
}
.second-arrow{
    transform: translateX(-100%);
}
.more--block:hover .first-arrow{
    transform: translateX(100%);
    opacity: 0;
}
.more--block:hover .second-arrow{
    transform: translateX(0%);

}






@media screen and (min-width:993px) {
    .section {
        padding: 100px 0;
    }
}

@media screen and (max-width:992px) {
    .section {
        padding: 50px 50px;
    }
}
