@import './reset.css';
@import './common.css';


.header{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.25) -2px 3px 90px -20px !important;
    background: var(--primary-white);
}
.header .header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    padding: 0 var(--mobile-padding);

}
.header .header_inner .header_logo--block a{
    display: block;
}
.header .header_inner .header_logo--block a img{
    width: 100%;
    height: 100%;
}

.header .header_inner .header_nav--block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100%;
}
.header .header_inner .header_nav--block .header_nav--list{
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100%;
}
.header .header_inner .header_nav--block .header_nav--item{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #000;
    opacity: 1;
    transition: opacity 0.3s ease;
}
  
.header .header_inner .header_nav--block .header_nav--item.dimmed {
    opacity: 0.5;
}
.header_subnav--block{
    position: absolute;
    top: 80px;
    left: -50%;
    width: 190px;
    height: auto;
    visibility: hidden;
    transform: translateY(10px);
    transition: all .4s ease;
    opacity: 0;
}
.header_subnav--block::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    content: "";
    height: 4px;
    z-index: 10;
    transition: all .1s ease;
    background: linear-gradient(to right, var(--primary-blue), var(--primary-green));
}
.header .header_inner .header_nav--block .header_nav--item:hover .header_subnav--block::before{
    opacity: 1;
}

.header_subnav--list{
    display: flex;
    flex-direction: column;
    height: auto;
    transition: all .4s ease;
    background: #fff;
    z-index: -1;
    padding: 30px;
    /* overflow: hidden; */
}
.header_subnav--block.active{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.header_nav--item .header_subnav--list li a{
    transition: all .4s ease;
}
.header_nav--item .header_subnav--list li a:hover{
    color: #000;
}
.header_nav--item .header_subnav--list li:last-child a{
    padding: 0;
}
.header_nav--item .header_subnav--list li a{
    display: flex;
    align-items: center;
    font-weight: var(--font-sb);
    font-size: 16px;
    padding: 0px 0 14px 0px;
    color: #585656;
}
.header_nav--item a{
    display: block;
    font-size: 18px;
    font-weight: var(--font-b);
}
.header .header_inner .header_nav--block .header_sidebar--btn{
    width: 22px;
    height: 22px;
}
.header .header_inner .header_don--block .don--btn{
    display: inline-block;
    font-size: 16px;
    background: linear-gradient(to right, var(--primary-blue) 0%, var(--primary-green) 50%);
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: var(--font-b);
    transition: all 0.4s ease;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    background-size: 200% 100%;
    background-position: left center;
}
.header .header_inner .header_don--block .don--btn:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-position: right center;
}

/* sidemenu */
.side_menu_overlay{
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    transition: all .5s;
    z-index: 101;
}
.side_menu_overlay.active{
    display: block;
}
.side_menu--block{
    position: fixed;
    top: 0;
    right: 0;
    width: 420px;
    transform: translateX(100%);
    transition: all .4s ease;
    z-index: 102;
}
.side_menu--block.active{
    transform: translateX(0%);
}
.side_menu--block .side_menu--inner{
    background: #fff;
}

.side_menu--block .side_menu--inner .side_top--block{
    padding: 50px 40px;
    background: var(--primary-blue);
}
.side_top--block .close--btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    transition: all .4s ease;
}
.side_top--block .close--btn:hover{
    transform: rotate(180deg);
}
.side_form{
    display: flex;
    position: relative;
    width: 100%;
    border-bottom: 2px solid #fff;
}
.side_form .search_ic--block{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    cursor: grab;
}
.sm-search--label{
    position: absolute;
    top: 0;
    left: 0;
}
.side_top--block .sm-search--block{
    background: none;
    border: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: var(--font-sb);
    color: #fff;
    outline: none;
    border-radius: 0;
    margin-left: 20px;
}
.side_top--block .sm-search--block::placeholder{
    color: #fff;
}
.side_top--block .search_keyword{
    margin-top: 30px;
}
.side_top--block .search_keyword ul{
    display: flex;
    gap: 10px;
    color: #fff;
}
.side_top--block .search_keyword ul li{
    padding: 6px 14px;
    border-radius: 45px;
    border: 1px solid #f2f2f2;
    font-size: 16px;
    transition: all .4s ease;
    cursor: grab;
}
.side_top--block .search_keyword ul li:first-child{
    border: none;
    font-weight: var(--font-b);
    padding: 6px 0px;
    margin-right: 10px;
}
.side_top--block .search_keyword ul li:not(:first-child):hover {
    background: #fff;
    color: var(--primary-blue);
}
.side_bottom--block{
    display: flex;
    justify-content: center;
    height: calc(100vh - 13.2rem);
}

.side_bottom--block .side_bottom--right{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 60px;
    overflow-y: scroll;
}
.side_bottom--block .side_bottom--right ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 10px;

}
.side_bottom--block .side_bottom--right ul li{
    color: #585656;
    font-size: 16px;
    transition: all .5s;
}
.side_bottom--block .side_bottom--right ul li a{
    display: block;
    transition: all .4s ease;
}
.side_bottom--block .side_bottom--right ul li a:hover{
    color: #000;
}
.side_bottom--block .side_bottom--right ul .side_right--tit{
    color: #000;
    margin-bottom: 20px;
}
.side_bottom--block .side_bottom--right ul .side_right--tit a {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}









/* subpage */

.sp_header--tit{
    font-weight: var(--font-eb);
    font-size: var(--fz-maintit);
    margin-bottom: 34px;
    overflow: hidden;
}








/* footer */
.footer{
    position: relative;
    background: #0d0d0d;
    padding: 60px 0;
}
.footer_content{
    display: flex;
    flex-direction: column;
    gap: 90px;
    color: #fff;
}
.footer_content .footer_top--block{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 16px;
    font-weight: var(--font-b);
}
.footer_content .footer_top--block .footer_nav--list{
    display: flex;
    align-items: center;
    opacity: 0.4;

}
.footer_content .footer_top--block .footer_nav--list .footer_nav--item{
    position: relative;
    margin-right: 20px;
}
.footer_content .footer_top--block .footer_nav--list .footer_nav--item::after{
    content: "";
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #fff;
}
.footer_content .footer_top--block .footer_nav--list .footer_nav--item:last-child::after{
    display: none;
}
.footer_content .footer_top--block .footer_nav--list .footer_nav--item a{}
.footer_content .footer_top--block .footer_nav--list .footer_nav--item a:hover{
}
.footer_content .footer_top--block .footer_location{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_content .footer_top--block .footer_location .footer_download--btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 26px;
    border: 2px solid #fff;
    font-weight: var(--font-b);
    font-size: 20px;
    opacity: 0.4;
    transition: all .4s ease;
    color: #fff;
}
.footer_content .footer_top--block .footer_location .footer_download--btn:hover{
    background: #fff;
    color: #000;
    opacity: 1;
    border: 2px solid #000;
}
.footer_content .footer_top--block .footer_location div{
    display: flex;
    gap: 15px;
}
.footer_content .footer_top--block .footer_location div p.white{
    opacity: 1;
}
.footer_content .footer_top--block .footer_location div p{
    opacity: 0.4;
}





.footer_bottom--block{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
}
.footer_bottom--block .copyrights{
    opacity: 0.2;
    font-size: 14px;
}
.footer_bottom--block .footer_sns--list{
    display: flex;
    gap: 30px;
}
.footer_bottom--block .footer_sns--item{
    transition: all .5s;
}
.footer_bottom--block .footer_sns--item:hover{
    transform: translateY(-3px);
}



.footer_sns_fixed--block{
    position: absolute;
    top: -210px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 1px;
}
.fs_btn{
    width: 60px;
    height: 60px;
}
.fs_btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.footer_totop--btn{
    background: var(--primary-blue);
}
.footer_toptop--btn .toptop_ic{}
.footer_facebook--btn{ background: #3B5998; }
.footer_instar--btn{
    background: url(/assets/img/footer/sns/instar_bg.png);
}
.footer_kakao--btn{
    background: #FFE812;
}



@media screen and (min-width:993px) {
}

@media screen and (max-width:992px) {
    .header .header_inner{
        height: 60px;
    }
    .header .header_inner .header_logo--block a{
        display: block;
        width: 80%;
    }
    .header .header_inner .header_nav--block .header_nav--list{
        display: none;
    }
    .header .header_inner .header_nav--block{
        margin-right: 20px;
        margin-left: auto;
    }

    /* side menu */
    .side_menu--block{
        width: 100%;
    }
    .side_menu--block .side_menu--inner .side_top--block{
        padding: 20px 40px;
    }

    .side_bottom--block{
        display: flex;
        justify-content: center;
        height: calc(100vh - 9.2rem);
    }

    /* subpage */
    .sp_header--tit{
        font-weight: var(--font-eb);
        font-size: var(--fz-maintit--mobile);
        margin-bottom: 28px;
        overflow: hidden;
    }
    
    
    
    







    /* footer */
    .footer{
        padding: 30px 0;
    }
    .footer_content{
        padding: 15px;
        gap: 40px;
    }
    .footer_content .footer_top--block{
        font-size: 12px;
        gap: 30px;
    }
    .footer_content .footer_top--block .footer_location div{
        flex-direction: column;
    }
    .footer_content .footer_top--block .footer_location .footer_download--btn{
        margin-top: 20px;
        width: max-content;
        position: relative;
        font-size: 14px;
    }
    .footer_bottom--block{
        gap: 15px;
        flex-direction: column-reverse;
        padding-top: 30px;
        padding-bottom: 0px;
    }
    .footer_content .footer_top--block .footer_nav--list .footer_nav--item::after{
        right: -10px;
    }
    .footer_sns_fixed--block{
        position: absolute;
        top: 170px;
        right: 20px;
        display: flex;
        flex-direction: column-reverse;
        gap: 1px;
    }
}
