

/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* MAIN PAGE CSS */

/* hero_section */
.hero_section {}

.hero_section .swiper {}

.hero_section .swiper .swiper-wrapper .swiper-slide a {}

.hero_section .swiper .swiper-wrapper .hero_content {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero_content .img--block {
    filter: brightness(0.8);
}

.hero_section .swiper-slide .img--block {
    transition: all 5s ease;
    height: 100%;
}

.hero_section .swiper-slide-active .img--block {
    transform: scale(1);
}

.hero_section .swiper-slide-active .img--block.scale-up {
    transform: scale(1.03);
}

.hero_content .img--block img {
    width: 100%;
    height: 100%;
}

.hero_content .tx--block {
    position: absolute;
    top: calc(50% - 80px);
    left: 20%;
    display: flex;
    flex-direction: column;
    max-width: 55%;
    gap: 20px;
    color: var(--primary-white);
    overflow: hidden;
}

.hero_content .tx--block .hero-tit {
    font-size: 18px;
    font-weight: var(--font-b);
}

.hero_content .tx--block .hero-subtit {
    font-size: 45px;
    font-weight: var(--font-eb);
}

#heroSwiper .hero_swiper_control {
    position: absolute;
    top: 68%;
    left: 20%;
    width: 150px;
    height: 30px;
    z-index: 1;
}

#heroSwiper .autoplay--btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.autoplay--btn .play_ic--block,
.autoplay--btn .pause_ic--block {
    width: 14px;
    height: 14px;
    margin-top: 4px;
}

.autoplay--btn .play_ic--block {
    display: none;
}

#heroSwiper .hero_swiper_control img {
    width: 100%;
    height: 100%;
}

#heroSwiper .swiper-pagination {
    display: flex;
    align-items: center;
    width: auto;
    gap: 10px;
}

#heroSwiper .swiper-pagination-bullet,
.abswiper_section .swiper-pagination-bullet.swiper-pagination-bullet {
    background: transparent;
    border: 1px solid var(--primary-white);
    opacity: 1;
}

#heroSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active,
.abswiper_section .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
    height: 10px;
    border-radius: 15px;
    background: var(--primary-white);
}
#heroSwiper .hero_swiper_btn--group {
    position: absolute;
    top: calc(50% - 40px);
    right: 20%;
    transform: translateY(-50%);
    width: 60px;
    z-index: 1;
}

#heroSwiper .hero_swiper_btn--group .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all .4s ease;
    border: 1px solid var(--primary-white);
}

#heroSwiper .hero_swiper_btn--group svg {
    width: 20px;
    height: 20px;
}

#heroSwiper .hero_swiper_btn--group .btn.prev {
    position: absolute;
    top: 20px;
    left: 0;
    transition: all .4s ease;
}

#heroSwiper .hero_swiper_btn--group .btn.next {
    position: absolute;
    top: 90px;
    left: 0;
}

#heroSwiper .hero_swiper_btn--group .btn:hover {
    background: var(--primary-white);
}

#heroSwiper .hero_swiper_btn--group .btn:hover svg path {
    stroke: var(--primary-black) !important;
}


/* video_section */
.video_section {}

.video_section .video_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.video_inner .video_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 15px;
}

.video_inner .video_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 800px;
}

.video_inner .video_content .video_link {
    display: block;
    position: relative;
}

.video_inner .video_content .video_link .youtube_ic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 48px;
}

.video_inner .video_content a img {
    width: 100%;
    height: 100%;
}

.video_inner .video_desc {
    display: flex;
    align-items: center;
    gap: 20px;
}

.video_inner .video_desc .img--block {
    width: 200px;
    border: 1px solid #ddd;
}

.video_inner .video_desc .img--block img {
    width: 100%;
    height: 100%;
}

.video_inner .video_desc .desc-tx {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.video_inner .video_desc .desc-tx .desc-tit {
    font-weight: var(--font-b);
    font-size: 16px;
}

.video_inner .video_desc .desc-tx .desc-subtit {
    font-weight: var(--font-m);
    font-size: 14px;
    color: var(--fc-subtit);
    line-height: 1.2;
}

.video_deco {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.video_deco_img01,
.video_deco_img02 {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20vw;
    height: 20vh;
    transform: translate(-50%, -50%);
}

.video_deco_img01 {
    top: 15%;
    left: 10%;
    background: url("../img/main/video/bg_img01.png");

}

.video_deco_img02 {
    top: 90%;
    left: 80%;
    background: url("../img/main/video/bg_img01.png");
}

/* together */
.together_section {
    background: var(--odd-bg);
}

.together_section .together_inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--mobile-padding);
}

.together_section .together_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.together_content .tg--left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.together_content .tg--left .tg_subtit {
    min-width :max-content;
}

.together_content .tg--left .tg_download--btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid var(--fc-subtit);
    padding: 12px 26px;
    font-size: 20px;
    font-weight: var(--font-b);
    margin-top: 35px;
    transition: all .2s ease;
}

.together_content .tg--left .tg_download--btn:hover {
    background: linear-gradient(to right, var(--primary-blue), var(--primary-green));
    color: var(--primary-white);
    border-color: transparent;
}

.together_content .tg--right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.together_content .tg--right .tg_btn--list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.together_content .tg--right .tg_btn--item {}

.together_content .tg--right .tg_btn--item a {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all .5s ease;
}

.together_content .tg--right .tg_btn--item a:hover {
    transform: translateY(-3px);
}

.tg--right .tg_btn--item a .img--block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #ddd;
}

.tg--right .tg_btn--item a p {
    text-align: center;
}


/* project */
.pj_content--block { }
.pj_content--block .grid_wrapper {
    display: flex;
    gap: 40px;
}

.pj_content--block .grid_wrapper .pj_left_wrap{
    flex: 1;
}
.pj_content--block .grid_wrapper .pj_left_wrap .pj_img_box-tx{
    position: absolute;
    top: 20px;
    left: 20px;
}
.pj_content--block .grid_wrapper .pj_left_wrap .pj_img_box-tx p{
    font-size: 18px;
    font-weight: var(--font-b);
}
.pj_content--block .grid_wrapper .pj_right_wrap{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.pj_content--block .pj_img_box:first-child{
    overflow: hidden;
}
.pj_content--block .pj_img_box:first-child img{
    transition: all .4s ease;

}
.pj_content--block .grid_wrapper .pj_right_wrap .pj_img_box{
    position: relative;
    width: calc(50% - 20px);     
    aspect-ratio: 1 / 1;
    transition: all .4s ease;
    overflow: hidden;
}
.pj_content--block .grid_wrapper .pj_right_wrap .pj_img_box img{
    transition: all .4s ease;
}
.pj_content--block .pj_img_box a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.pj_img_border {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    transition: all .4s ease;

}
.pj_content--block .pj_img_box:hover img{
    transform: scale(1.1);
    transition: all .4s ease;

}


.pj_content--block .pj_img_box.first .pj_img_box-tx {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px 10px;
    background: var(--primary-white);
}

.pj_content--block .pj_img_box.first .pj_img_box-tx p {
    font-weight: var(--font-b);
    font-size: 18px;
}

.pj_content--block .pj_img_box .pj_img_box-tx {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 10px;
    background: var(--primary-white);
}

.pj_content--block .pj_img_box .pj_img_box-tx p {
    font-size: 12px;
    font-weight: var(--font-sb);
}

.pj_content--block .pj_img_box img {
    width: 100%;
    height: 100%;
    transition: all .4s ease;
}

/* news */

.news_section {
    background: var(--odd-bg);
}

.news_content .news_list {
    display: flex;
    gap: 45px;
}

.news_content .news_item {
    flex: 1;
}

.news_content .news_item a {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .4s ease;
}
.news_content .news_item a:hover .img--block img{
    transform: scale(1.1);
}
.news_content .news_item a:hover .news_tx--block .news_tx--bot{
    color: var(--primary-blue) !important;
}
.news_content .news_item .img--block {
    border: 10px solid var(--primary-white);
    overflow: hidden;
}

.news_content .news_item .img--block img {
    width: 100%;
    height: 100%;
    transition: all .4s ease;
}

.news_content .news_item a .news_tx--block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news_tx--block .news_tx--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_tx--block .news_tx--top .media_company {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: var(--font-sb);
    font-size: 12px;
    background: var(--primary-white);
}

.news_tx--block .news_tx--top .news_date {
    font-weight: var(--font-sb);
    font-size: 13px;
    color: #919191;
}

.news_tx--block .news_tx--bot {
    color: var(--primary-black);
    font-weight: var(--font-b);
    font-size: 20px;
    transition: all .4s ease;
}


/* notice */
.notice_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.notice_content .notice_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.notice_item {
    border: 1px solid #ddd;
    flex: 1;
    transition: all .4s ease;
}

.notice_item:hover {
    box-shadow: rgba(0, 0, 0, 0.25) -2px 3px 90px -20px !important;
}

.notice_item a {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

.notice_item a p {
    color: var(--fc-subtit);
    font-size: 14px;
    font-weight: var(--font-b);
}

.notice_item a strong {
    color: #919191;
    font-size: 20px;
    font-weight: var(--font-b);
    transition: all .4s ease;
}

.notice_item a span {
    font-weight: var(--font-sb);
    font-size: 13px;
    color: #919191;
}

/* notive active 시에 */
.notice_item.active {
    border: 1px solid #565656;
}

.notice_item.active a p {
    color: var(--primary-green);
}

.notice_item.active a strong {
    color: var(--primary-black);
}

.notice_item a span {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.notice_item.dead .notice_more--block {
    visibility: hidden;
}

.notice_item.dead:hover {
    border: 1px solid var(--primary-black);
}

.notice_item.dead:hover a strong {
    color: var(--primary-black);
}



/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* ABOUT PAGE CSS */

.abswiper_section {}
.abswiper_content { display: flex; }
.abswiper_section .abswiper--left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    background: var(--primary-blue);
    flex: 1;
}

.abswiper_section .abswiper--left .abswiper--left-text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.abswiper_section .abswiper--left .abswiper--left-text p {
    font-size: 18px;
    line-height: 1.4;
    color: var(--primary-white);
}

.abswiper_section .about_swiper {
    max-width: 600px;
    height: 600px;
}

.about_swiper_slide .img--block {
    filter: brightness(0.8);
    width: 100%;
    height: 100%;
}

.about_swiper_slide .img--block img {
    width: 100%;
    height: 100%;
}

.about_swiper_control {
    position: relative;
    display: flex;
    margin-top: 40px;
}

.about_swiper_control img {
    width: 100%;
    height: 100%;
}

.about_swiper_control .btn.autoplay--btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 18px;
}

.abswiper_section .swiper-pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: auto !important;
}

/* ab_img--area */
.ab_img--area {}
.ab_sim_img_m{display: none;}
.ab_img--area_content {
    padding: 100px;
    background: #f7f7f7;
}

.ab_img--area .img--block { }

.ab_img--area .img--block img {
    width: 100%;
    height: 100%;
}

/* ab_caf--area */

.ab_caf--area {}

.ab_caf--area .ab_caf--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 95px 0;
}

.ab_caf--area .ab_caf--content .caf-tit {
    font-weight: var(--font-b);
    font-size: 34px;
}

.ab_caf--area .ab_caf--content .img--block {
    max-width: 360px;
    height: 278px;
}

.ab_caf--area .ab_caf--content .img--block img {
    width: 100%;
    height: 100%;
}

.ab_caf--area .ab_caf--content .caf-subtit {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ab_caf--area .ab_caf--content .caf-subtit strong {
    font-weight: var(--font-b);
    font-size: 20px;
    line-height: 1.4;
}

.ab_caf--area .ab_caf--content .caf-subtit span {
    font-weight: var(--font-m);
    font-size: 16px;
    line-height: 1.6;
    color: var(--fc-subtit);
}




/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* SUPPORT PAGE CSS */

.support_section {
    padding: 100px 0;
}

.support_section .support_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 60px;
}

.support_section .support_list .support_item {
    transition: all .4s ease;
}
.support_section .support_list .support_item a {
    display: block;
    width: 120px;
}

.support_section .support_list .support_item a img {
    width: 100%;
    height: 100%;
}


/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* HISTORY PAGE CSS */

.history_info--section {}

.ht_info--content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ht_info--content .ht_info--tx {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.ht_info--content .ht_info--tx strong {
    display: block;
    font-size: 34px;
}

.ht_info--content .ht_info--tx p {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 16px;
    color: var(--fc-subtit);
    max-width: 450px;
}

.ht_info--content .ht_info--tx p span {
    line-height: 1.6;
}

.ht_info--content .ht_info--img {
    padding: 63px 50px;
    width: 600px;
    height: 650px;
    flex: 1;
    background: #f7f7f7;
}

.ht_info--content .ht_info--img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}



/* project section */
.projects-sec {
    position: relative;
    height: 800vh;
   
}

.projects-inner {
    position: sticky;
    display: flex;
    top: 0px;
}

.projects-tit {
    position: absolute;
    top: 150px;
    left: 360px;
    font-size: 34px;
    color: var(--primary-white);
    font-weight: var(--font-b);
    z-index: 10;
}

.projects-inner .projects-list {
    display: flex;
    height: 100vh;
}

.projects-inner .projects-item {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.projects-inner .projects-item:hover .project-img-block img {
    transform: scale(1.01);
}

.project-img-block video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-img-block {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
    z-index: -10;
}

.project-img-block img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.projects-inner .projects-link {
    width: 100%;
    height: 100%;
}

.projects-inner .projects-link img {
    transition: .5s ease;
}

.project-tx-block {
    position: absolute;
    top: 60%;
    left: 360px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    transform: translateY(-50%);
}

.project-tx-block .pj-tit {
    font-weight: var(--font-eb);
    font-size: 45px;
    color: var(--primary-white);
}

.pj-subtit {
    font-weight: var(--font-b);
    font-size: 24px;
    color: var(--primary-white);
}

.projects-sec::-webkit-scrollbar {
    scrollbar-width: none !important;
    display: none !important;
 
}




.ht_tab--section{
    padding: 80px 0 0 0;
}
.ht_tab--section .tab-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ht_tab--section .ht_title{
    display: block;
    margin-bottom: 30px;
    font-size: 34px;
}
    
.ht_tab--section .ht_tab--content{
    background: #f7f7f7;
    padding: 60px 60px 150px 70px;
    transition: all .4s ease;
    overflow: hidden;
}
.ht_tab--section .tab--list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type:disc;
    margin-left: 18px;
    color: var(--fc-subtit);
    font-size: 16px;
}

.ht_tab--section .tab-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.tab-button{
    padding: 18px 26px;
    border: 2px solid var(--fc-subtit);
    color: #000;
    font-size: 20px;
    font-weight: var(--font-b);
    transition: all .4s ease;
}


.tab-button.active {
    background: var(--primary-blue);
    border: 2px solid var(--primary-blue);
    color: var(--primary-white);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
    height: max-content;

}


.ht_active--section{
    padding: 50px 0 100px 0;
}
.ht_active--content{}
.ht_active--content .ht_active--list{
    display: flex;
    gap: 45px;
}
.ht_active--content .ht_active--item{}

.ht_active--content .ht_active--item a{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ht_active--content .ht_active--item a:hover .img--block{
    transform: translateY(-3px);
    box-shadow: var(--box-shadow);
}
.ht_active--content .ht_active--item a:hover .text--block{
    transform: translateY(-3px);
}
.ht_active--content .ht_active--item a .img--block{
    transition: all .4s ease;

}
.ht_active--content .ht_active--item a .img--block img{
    width: 100%;
    height: 100%;
}
.ht_active--content .ht_active--item a .text--block{
    font-weight: var(--font-b);
    font-size: 20px;
    transition: all .4s ease;
}
.ht_swiper_control{
    display: none;
}


/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* MANAGE PAGE CSS */

.manage_section{}
.manage_visual--block{
    position: relative;
}
.manage_visual--block .img--block{ 
    filter: brightness(0.8);
}
.manage_visual--block .img--block .manage_visual--img--mobile{
    display: none;
}
.manage_visual--block .manage_visual--img{
    background-image: url("../img/main/manage/manage_visual.jpg");
    background-repeat: no-repeat;
    min-height: 730px;
}   

.manage_visual--block .text--block{
    position: absolute;
    top: 10%;
    left: 7%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.manage_visual--block .text--block strong{
    display: block;
    font-weight: var(--font-b);
    font-size: 24px;
    line-height: 1.4;
    color: var(--primary-white);
}
.manage_visual--block .text--block p{
    font-weight: var(--font-sb);
    font-size: 16px;
    line-height: 1.4;
    color: #ddd;
}
.manage_first--block{
    margin-top: 100px;
    display: flex;
    gap: 60px;
}
.manage_first--block .manage_first_img--block{

}
.manage_first--block .manage_first_img--block img{
    width: 100%;
    height: 100%;
}

.manage_first_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.manage_first_info .manage_first--top{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.manage_first_info .manage_first--top .name{
    display: block;
    font-weight: var(--font-b);
    font-size: 28px;
}
.manage_first_info .manage_first--top ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.manage_first_info .manage_first--top ul li{
    font-weight: var(--font-m);
    font-size: 16px;
    color: var(--fc-subtit);
    overflow: hidden;
}
.manage_first_info .manage_first--top ul li strong{
    color: #000;
}
.manage_first_info .manage_first--bottom{
    display: flex;
    gap: 50px;
    padding: 20px 30px;
    max-width: 653px;
    background: #f7f7f7;
}
.manage_first_info .manage_first--bottom strong{
    font-weight: var(--font-b);
    font-size: 20px;
}
.manage_first_info .manage_first--bottom ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: disc;
}
.manage_first_info .manage_first--bottom ul li{
    font-weight: var(--font-m);
    font-size: 16px;
    color: var(--fc-subtit);
}

.manage_second--block{
    margin-top: 80px;
    margin-bottom: 100px;
}
.manage_second--block ul{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.manage_second--block ul li{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.manage_second--block ul li .user_info--block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.manage_second--block ul li .img--block{
    min-width: 250px;
}
.manage_second--block ul li .img--block img{
}
.manage_second--block ul li strong{
    font-weight: var(--font-b);
    font-size: 24px;
}
.manage_second--block ul li p{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: var(--font-m);
    font-size: 16px;
    color: var(--fc-subtit);
}
.manage_second--block ul li p span{
    font-size: 16px;
    font-weight: var(--font-m);
    color: var(--fc-subtit);
}


/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* CATEGOEY PAGE CSS */

.cg_all_section{}
.cg_all_content{}
.cg_all_content .cg_tab--list{
    display: flex;
    padding: 50px 0;
    gap: 10px;
    border-top: 4px solid #000;
    
}
.cg_all_content .cg_tab--item{}
.cg_all_content .cg_tab--item .cg_tab--btn{
    display: block;
    border: 2px solid var(--fc-subtit);
    font-size: 16px;
    font-weight: var(--font-sb);
    padding: 13px 24px;
}
.cg_all_content .cg_tab--item .cg_tab--btn:hover{
}
.cg_all_content .cg_tab--item .cg_tab--btn.active{
    color: var(--primary-white);
    background: var(--primary-blue);
    border: 2px solid var(--primary-blue);
}

.cg_gallery--list{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 70px;
}
.cg_gallery--list .cg_gallery--item{
    width: calc(33.3% - 20px); 
}
.cg_gallery--list .cg_gallery--item .cg_gallery--link{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .4s ease;
}
.cg_gallery--link .cg_cat--block{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 10px;
    z-index: 1;
    background: var(--primary-white);
}
.cg_gallery--link .cg_cat--block p{
    font-size: 12px;
    font-weight: var(--font-sb);
}
.cg_gallery--link .img--block{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.cg_gallery--link .img--block img{
    width: 100%;
    height: 100%;
    transition: all .4s ease;
}
.cg_gallery--link .text--block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cg_gallery--link .text--block .cg_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cg_gallery--link .text--block .cg_info .cg_location{
    color: #919191;
    font-size: 13px;
    font-weight: var(--font-m);
}
.cg_gallery--link .text--block .cg_info .cg_date{
    color: #919191;
    font-size: 13px;
    font-weight: var(--font-m);
}
.cg_gallery--link .text--block .cg_tit{
    font-weight: var(--font-sb);
    color: #000;
    font-size: 20px;
    transition: all .4s ease;
}

/* pagination common */
.cg_pagination--block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}
.cg_pagination--block .next_ic{}
.cg_pagination--block .prev_ic{
    transform: rotate(180deg);
}

.page_num--list{
    display: flex;
    gap: 5px;
}
.page_num--list li{}
.page_num--list li a{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-sb);
    font-size: 16px;
    width: 30px;
    height: 30px;
    color: #888;
    transition: all .4s ease;
}
.page_num--list li a:hover{
    color: #000;
}
.page_num--list li a.active{
    color: #000;
}


/* 카테고리 hover 시 애니메이션 */
.cg_gallery--list .cg_gallery--item .cg_gallery--link:hover .img--block img{
    transform: scale(1.1);
}
.cg_gallery--list .cg_gallery--item .cg_gallery--link:hover .text--block .cg_tit{
    color: var(--primary-blue);
}

/* cg_gallery--2 * 2 css */

.cg_gallerytwo--list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 70px;
    padding-top: 40px;
    border-top: 4px solid #000;
}
.cg_gallerytwo--list .cg_gallerytwo--item{
    width: calc(50% - 20px); 
}
.cg_gallerytwo--list .cg_gallerytwo--item .cg_gallerytwo--link{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .4s ease;
}
.cg_gallerytwo--list .cg_gallerytwo--item .cg_gallerytwo--link:hover .img--block img{
    transform: scale(1.1);
}
.cg_gallerytwo--list .cg_gallerytwo--item .cg_gallerytwo--link:hover .text--block .cg_tit{
    color: var(--primary-blue);
}
.cg_gallerytwo--link .cg_cat--block{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 10px;
    z-index: 1;
    background: var(--primary-white);
}
.cg_gallerytwo--link .cg_cat--block p{
    font-size: 12px;
    font-weight: var(--font-sb);
}
.cg_gallerytwo--link .img--block{
    position: relative;
    width: 100%;
    height: 365px;
    overflow: hidden;
}
.cg_gallerytwo--link .img--block img{
    width: 100%;
    height: 100%;
    transition: all .4s ease;
}
.cg_gallerytwo--link .text--block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cg_gallerytwo--link .text--block .cg_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cg_gallerytwo--link .text--block .cg_info .cg_location{
    color: #919191;
    font-size: 13px;
    font-weight: var(--font-m);
}
.cg_gallerytwo--link .text--block .cg_info .cg_date{
    color: #919191;
    font-size: 13px;
    font-weight: var(--font-m);
}
.cg_gallerytwo--link .text--block .cg_tit{
    font-weight: var(--font-sb);
    color: #000;
    font-size: 20px;
    transition: all .4s ease;
}






/* textboard section css */

.cg_textboard_section{}
.cg_tb_content{
    display: flex;
    flex-direction: column;
    padding: 55px 0;
    border-top: 4px solid #000;
}
.cg_tb_content .tb_tit--block{
    margin-bottom: 20px;
}
.cg_tb_content .tb_tit--block .tb_tit{
    font-size: 34px;
    font-weight: var(--font-eb);
    color: #000;
}

.tb_pagination--block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-top: 1px solid #000;
}
.tb_pagination--block .tb_page_next--area,
.tb_pagination--block .tb_page_prev--area{
    display: flex;
    align-items: center;
}
.tb_pagination--block .tb_page_prev--area .btn{
    transform: rotate(180deg);
}
.tb_pagination--block .tb_page_prev--area p{
    margin-left: 2px;
    margin-right: 10px;
}
.tb_pagination--block .tb_page_next--area p{
    margin-left: 10px;
    margin-right: 2px;
}
.tb_pagination--block .tb_page_next--area p,
.tb_pagination--block .tb_page_prev--area p{
    font-size: 16px;
    font-weight: var(--font-b);

}
.tb_pagination--block .tb_page_next--area span,
.tb_pagination--block .tb_page_prev--area span{
    font-size: 14px;
    font-weight: var(--font-m);
    color: #666666;
}
.tb_pagination--block .tb_page_next--area{
    display: flex;
    flex-direction: row-reverse;
}
.tb_pagination--block .tb_page_menu--area{
    width: 70px;
    height: 70px;
    transition: all 0.5s ease;
    background: #f0f0f0;
}
.tb_pagination--block .tb_page_menu--area:hover{
    background: var(--primary-blue);
}
.tb_pagination--block .tb_page_menu--area:hover .menu_ic path{
    fill: var(--primary-white);
}
.tb_pagination--block .tb_page_menu--area .menu_ic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 1s ease;

}


/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* DONATE PAGE CSS */

.donate_section{}
.donate_content{}

.donate_how--block{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 70px;
}
.donate_how--block .how--tit{
    font-weight: var(--font-b);
    font-size: 34px;
    color: #000;
}
.donate_how--block .how--subtit{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}
.donate_how--block .how--subtit strong{
    font-weight: var(--font-b);
    font-size: 18px;
    color: #000;
}
.donate_how--block .how--subtit p{
    font-weight: var(--font-m);
    font-size: 16px;
    color: var(--fc-subtit);
    line-height: 1.6;
}

.donate_how--block .how-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.donate_how--block .how-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    padding: 30px 0 40px 30px;
    background: #F0F0F0;
}
.donate_how--block .how-item .img--block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
    border-radius: 50%;
    background: var(--primary-white);
}
.donate_how--block .how-item .img--block img{
    width: 40px;
    height: 41px;
}
.donate_how--block .how-item .how-item--tit{
    font-weight: var(--font-b);
    font-size: 20px;
    margin-bottom: 10px;
    color: #000;
}
.donate_how--block .how-item .how-item--subtit{
    font-weight: var(--font-m);
    font-size: 16px;
    color: var(--fc-subtit);
}


.donate_how--block .how--notice{
    font-weight: var(--font-m);
    font-size: 16px;
    color: var(--fc-subtit);
}

.donate_why--block{
    display: flex;
    justify-content: flex-start;
    gap: 120px;
    margin: 100px 0px;
}
.donate_why--block .why--tit{
    font-weight: var(--font-b);
    font-size: 34px;
    color: #000;
}
.donate_why--block .why--list{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.donate_why--block .why--item{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: var(--mobile-padding) 0;
    border-top: 1px solid #ddd;
}
.donate_why--block .why--item .img--block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #f7f7f7;
}
.donate_why--block .why--item .img--block img{}
.donate_why--block .why--item .why_desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.donate_why--block .why--item .why_desc strong{
    font-weight: var(--font-b);
    font-size: 20px;
    color: #000;
}
.donate_why--block .why--item .why_desc p{
    font-weight: var(--font-m);
    font-size: 16px;
    line-height: 1.4;
    color: var(--fc-subtit);
}


.donate_outro--content{
    position: relative;
}
.donate_outro--content .img--block{
    position: relative;
    width: 100%;
    filter: brightness(0.8);
}
.donate_outro--content .img--block img{
    width: 100%;
    height: 100%;
}
.donate_outro--content .text--block{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--primary-white);
}
.donate_outro--content .text--block p{
    font-weight: var(--font-b);
    font-size: 18px;
}
.donate_outro--content .text--block strong{
    font-weight: var(--font-eb);
    font-size: 45px;

}
.donate_outro--content .donate--btn{
    margin-top: 30px;
}
.donate_outro--content .donate--btn a{
    padding: 18px 26px;
    border: 2px solid var(--primary-white);
    font-size: 20px;
    font-weight: var(--font-b);
    transition: all .4s ease;
}
.donate_outro--content .donate--btn a:hover{
    background: var(--primary-blue);
    border: 2px solid var(--primary-blue);
}


/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* QUESTION PAGE CSS */

.question_section{
}
.question_visual--block{
    position: relative;
    width: 100%;
}
.question_visual--block .img--block{
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
}
.question_visual--img--mobile{
    display: none;
}
.question_visual--img{
    background: url("../img/main/question/together_img.jpg");
    background-repeat: no-repeat;
    min-height: 730px;
}
.question_visual--block .text--block{
    position: absolute;
    top: 70px;
    left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.question_visual--block .text--block strong{
    font-size: 24px;
    font-weight: var(--font-b);
    line-height: 1.4;
    color: var(--primary-white);
}
.question_visual--block .text--block p{
    font-size: 16px;
    line-height: 1.4;
    font-weight: var(--font-sb);
    color: #ddd;
}

.question_content--block{
    position: relative;
}
.question_content--block .quest_content--tit{
    font-size: 34px;
    font-weight: var(--font-b);
    color: #000;
    padding-top: 45px;
    padding-bottom: 30px;
}
.question_content--block .question--list{
    display: flex;
    flex-direction: column;
    border-top: 4px solid #000;
    border-bottom: 2px solid #000;

}
.question_content--block .question--list .question--item{
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}
.question_content--block .question--list .question--item.active{
    background: #f7f7f7;
}
.question_content--block .q_item--block{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question_content--block .q_item--block span{
    font-weight: var(--font-b);
    font-size: 20px;
    margin-right: 15px;
    color: #000;
}
.question_content--block .q_item--block strong{
    font-weight: var(--font-b);
    font-size: 20px;
    color: #000;
    flex: 1;
}
.question_content--block .q_item--block  .plus_ic{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: all .3s ease;

}
.question_content--block .q_item--block .minus_ic{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: all .3s ease;

}
.question_content--block .q_hidden--block{
    display: flex;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all .3s ease;


}
.question_content--block .q_hidden--block span{
    font-size: 20px;
    margin-right: 15px;
}
.question_content--block .q_hidden--block strong{
    display: inline-block;
    font-size: 16px;
    line-height: 1.4;
    color: var(--fc-subtit);
    max-width: 600px;
}

.question_content--block .q_hidden--block.active {
    max-height: 900px; 
    opacity: 1;
    padding: 20px 0;

}


/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* APPLY PAGE CSS */

.apply_section{}
.apply--list{
    display: flex;
    flex-direction: column;
    border-top: 4px solid #000; 
    padding-bottom: 50px;
}
.apply--list .apply--item{
    border-bottom: 1px solid #ddd;
}
.apply--list .apply--item a{
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 25px 30px;
    gap: 100px;
}
.apply--list .apply--item a:hover .apply_title--block strong{
    color: #000;
}
.apply--list .apply--item a:hover .more--block{
    visibility: visible;
    opacity: 1;
}
.apply--list .apply--item a .apply_cat{
    font-weight: var(--font-b);
    font-size: 14px;
    width: 80px;
    color: var(--fc-subtit);
}
.apply--list .apply--item a .apply_cat.active{
    color: var(--primary-green);
}
.apply--item a .apply_title--block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.apply--item a .apply_title--block strong{
    font-size: 20px;
    font-weight: var(--font-b);
    color: #919191;
    transition: all .4s ease;
}
.apply--item a .apply_title--block strong.active{
    color: #000;
}
.apply--item a .apply_title--block p{
    font-size: 13px;
    font-weight: var(--font-sb);
    color: #919191;

}

.apply--list .apply--item a .arrow-ic--block{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 25px;
    right: 30px;
    transition: all .4s ease;
}
.apply--list .apply--item a .arrow-ic--block.active{
    visibility: visible;
}



/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* SEARCH PAGE CSS */

.search_section{}
.search_header--block{
    margin-top: 80px;
    background: var(--primary-blue);
}
.search_header--inner{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 60px 0;
    margin: 0 auto;
}
.search_header--block .side_form .sm-search--block{
    margin-left: 30px;
}
.search_header--block .side_form .search_ic--block{
    background: none;
    border: 0;
    color: var(--primary-white);
    outline: none;
}
.search_header--block .search_keyword ul{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search_header--inner .close--btn{
    position: absolute;
    top: 30%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: var(--primary-white);
    border-radius: 50%;
    z-index: 1;
}

.search--list{
    display: flex;
    flex-direction: column;
    border-top: 4px solid #000; 
    padding-bottom: 50px;
}
.search--list .search--item{
    border-bottom: 1px solid #ddd;
}
.search--list .search--item a{
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 25px 30px;
    gap: 20px;
}
.search--list .search--item a:hover .search_title--block strong{
    color: #000;
}
.search--list .search--item a:hover .more--block{
    visibility: visible;
    opacity: 1;
}
.search--list .search--item a .search_cat{
    font-weight: var(--font-b);
    font-size: 14px;
    width: 80px;
    color: var(--fc-subtit);
}
.search--list .search--item a .search_cat.active{
    color: var(--primary-green);
}
.search--list .search--item a .search_img--block{
    width: 100px;
    height: 60px;
}
.search--list .search--item a .search_img--block img{
    width: 100%;
    height: 100%;
}
.search--item a .search_title--block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.search--item a .search_title--block strong{
    font-size: 20px;
    font-weight: var(--font-b);
    transition: all .4s ease;
    color: #000;
}
.search--item a .search_title--block p{
    max-width: 800px;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: var(--font-sb);
    color: #919191;
}

.search--list .search--item a .arrow-ic--block{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 25px;
    right: 30px;
    transition: all .4s ease;
}
.search--list .search--item a .arrow-ic--block.active{
    visibility: visible;
}

.search_result--block{
    display: flex;
    margin-top: 60px;
    font-weight: var(--font-b);
    font-size: 20px;
    gap: 10px;
}
.search_result--block span{
    color: var(--primary-blue);
}
.search_result--block p{}
.search_result--block p em{}


/* marquee *//* marquee *//* marquee *//* marquee *//* marquee *//* marquee *//* marquee */
.marquee--block {
    background: var(--odd-bg);
    overflow: hidden;
}

.marquee--block .marquee_area {
    overflow: hidden;
}

.marquee_track {
    display: flex;
    animation: marquee 20s linear infinite;
    width: max-content;
}

.marquee--block .marquee_list {
    display: flex;
    padding-left: 40px;
}

.marquee--block .marquee_list .marquee_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    padding-left: 40px;
}

.marquee--block .marquee_list .marquee_item img {
    width: 100%;
    height: 100%;
}


@media screen and (max-width:992px) {

    /* hero */
    .hero_section .swiper .swiper-wrapper .hero_content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero_section .swiper {
        height: 60vh;
    }

    .hero_content .tx--block {
        position: absolute;
        top: calc(60% - 60px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 100%;
        gap: 20px;
        color: var(--primary-white);
    }

    .hero_content .tx--block .hero-tit {
        text-align: center;
        font-size: 14px;
    }

    .hero_content .tx--block .hero-subtit {
        text-align: center;
        font-size: 28px;
    }

    #heroSwiper .hero_swiper_btn--group {
        display: none;
    }

    #heroSwiper .hero_swiper_control {
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #heroSwiper .swiper-pagination {
        position: relative;
        top: 0px;
    }

    #heroSwiper .autoplay--btn {
        position: relative;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    /* video */
    .video_section .video_inner {
        padding: 0 var(--mobile-padding);
    }
    .video_inner .video_content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .video_inner .video_desc .desc-tx .desc-tit {
        font-size: 14px;
    }

    .video_inner .video_desc .desc-tx .desc-subtit {
        font-size: 12px;
    }

    .video_deco {
        display: none;
    }

    /* together */
    .together_section .together_inner {
        padding: 0 var(--mobile-padding);
    }

    .together_section .together_content {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .together_content .tg--left {
        align-items: center;
    }

    .together_content .tg--left .tg_download--btn {
        font-size: 16px;
        margin: 20px 0;
    }

    .together_content .tg--right {
        justify-content: center;
    }

    .together_content .tg--right .tg_btn--list {
        justify-content: space-between;
        gap: 0;
        width: 100%;
    }

    .tg--right .tg_btn--item a .img--block {
        width: 100px;
        height: 100px;
    }

    .tg--right .tg_btn--item a .img--block img {
        width: 45%;
        height: 45%;
    }

    .together_content .tg--left .tg_subtit {
        min-width: auto;

    }


    /* project */
 
    .grid_wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .pj_left_wrap,
    .pj_right_wrap {
        display: contents; 
    }

    .pj_img_box {
        width: calc(50% - 20px) !important; 
        aspect-ratio: 1 / 1;
    }

    .pj_img_box:nth-child(5) {
        display: none;
    }
    
   
    .pj_content--block .grid_wrapper .pj_img_box:last-child {
        display: none;
    }

    .pj_content--block .pj_img_box.first .pj_img_box-tx {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
    }

    .pj_content--block .pj_img_box.first .pj_img_box-tx p {
        font-weight: var(--font-sb);
        font-size: 12px;
    }

    .pj_content--block .pj_img_box .pj_img_box-tx {
        right: 10px;
    }
    .project-tx-block .pj-tit {
        font-size: 32px;
    }
    .projects-inner .projects-list {
        overscroll-behavior-x: none;
        touch-action: pan-y; 
    }

    /* project mobile */
    .projects-sec{
        display: none;
    }
    .projects-sec--mob{
        display: block;
        position: relative;
        padding: 30px 15px;
        margin-top: 50px;
    }
    .projects-sec--mob .pj-swiper{
        height: 30vh;
    }
    .projects-sec--mob .pj-swiper .swiper-wrapper{}
    .projects-sec--mob .pj-swiper .swiper-wrapper .pj_slide--block{
        width: 100%;
        height: 100%;
    }
    .projects-sec--mob .pj-swiper .swiper-wrapper .pj_slide--block .project-tx-block.mo-v{
        position: absolute;
        bottom: 40px !important;
        left: 30px;
        transform: translateY(0);
    }
    .project-tx-block.mo-v .pj-tit{
        font-size: 18px;
    }
    .project-tx-block.mo-v .pj-subtit{
        font-size: 14px;
    }
    .ht_swiper_control{
        display: block;
    }
    .projects-sec--mob .btn{
        position: absolute;
        top: 55%;
        width: 20px;
        height: 20px;
    }
    .projects-sec--mob .swiper-pagination-fraction{
        font-weight: var(--font-sb); 
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
        color: #000;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(4px);
        padding: 6px 14px;
        border-radius: 50px;
        width: fit-content;
        margin: 0 auto;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    .projects-sec--mob .swiper-pagination-current{
        color: var(--primary-blue);
    }
    .ht_info--content .ht_info--tx strong {
        font-size: 24px;
    }
    /* news */
    .news_content .news_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .news_content .news_item a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    .news_content .news_item .img--block {
        max-width: 150px;
        min-width: 150px;
        border: 6px solid var(--primary-white);
    }

    .news_tx--block .news_tx--top {
        justify-content: flex-start;
        gap: 10px;
    }

    .news_tx--block .news_tx--bot {
        font-size: 16px;
    }

    /* notice */
    .notice_content {
        gap: 0px;
    }

    .notice_content .notice_list {
        flex-direction: column;
        gap: 10px;
    }

    .notice_item {
        flex: 1;
        width: 100%;
    }

    /* marquee */
    .marquee--block .marquee_list {
        display: flex;
        padding-left: 10px;
    }

    .marquee--block .marquee_list .marquee_item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        padding-left: 10px;
    }




    /* about page */
    .abswiper_content {
        display: flex;
        flex-direction: column-reverse;
    }

    .abswiper_section .about_swiper {
        max-width: 100%;
        height: auto;
    }

    .abswiper_section .abswiper--left {
        padding-left: 0px;
        padding-right: 0px;
        padding: 30px 30px 10px;
    }

    .abswiper_section .abswiper--left .abswiper--left-text {
        font-weight: var(--font-sb);
        gap: 10px;
    }

    .about_swiper_control {
        margin-top: 15px;
    }

    .ab_img--area_content {
        padding: 40px 20px;
    }
    .ab_caf--area .ab_caf--content .caf-tit {
        font-size: calc(var(--fz-maintit--mobile) - 8px);
    }
    .ab_sim_img_m{display: block;}
    .ab_sim_img_pc{display: none;}
    .ab_caf--area .ab_caf--content {
        padding: 50px 0;
    }
    .ab_caf--area .ab_caf--content .caf-subtit strong {
        font-size: 18px;
    }
    .ab_caf--area .ab_caf--content .caf-subtit span {
        font-size: 14px;
    }
    
    .abswiper_section .abswiper--left .abswiper--left-text p {
        font-size: 16px;
    }
    
    /* sponsor page */
    .support_section {
        padding: 30px 0;
    }
    .sp_header--banner .text--block {
        left: 20px;
    }
    .support_section .support_list .support_item {
        display: flex;
        justify-content: center;
        flex: 1;
        transition: all .4s ease;
    }
    .support_section .support_list{
        gap: 20px;
    }
    /* history page */

    /* info */
    .ht_info--content {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .ht_info--content .ht_info--img{
        padding: 0;
        width: 100%;
        height: 100%;
    }
    
    /* mainproject */
    .projects-tit {
        position: absolute;
        top: 150px;
        left: 10px;
        font-size: 34px;
    }
    .project-tx-block {
        position: absolute;
        top: 60%;
        left: 10px;
    }
    .projects-sec--mob .projects-tit {
        position: absolute;
        top: 40px;
        left: 30px;
        font-size: 24px;
    }
    /* tab */
    .ht_tab--section{
        padding: 30px 0 0 0;
    }
    .ht_tab--section .ht_tab--content{
        padding: 20px 0 100px 0;
    }
    .ht_tab--section .ht_title{
        font-size: 24px;
    }
    .tab-button{
        padding: 8px 15px;
        border: 2px solid var(--fc-subtit);
        font-size: 16px;
    }
    .ht_active--content .ht_active--item a .text--block{
        font-weight: var(--font-sb);
        font-size: 18px;
    }
    .ht_tab--section .tab-buttons{
        padding-left: 10px;
    }
    .ht_tab--section .tab--list{
        padding-left: 10px;
        font-size: 15px;
    }
    /* active */
    .ht_active--section{
        padding: 50px 0 50px 0;
    }
    .ht_active--content .ht_active--list{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .ht_active--content .ht_active--item{
        flex: 1;
    }
    .ht_active--content .ht_active--item a{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .ht_active--content .ht_active--item a .img--block{
        max-width: 150px;
        min-width: 150px;
    }
 
    /* manage page */
    .manage_first--block{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .manage_first--block .manage_first_img--block{
        width: 300px;
    }
    .manage_first_info .manage_first--bottom{
        flex-direction: column;
        padding: 20px;
        gap: 10px;
    }
    
    .manage_first_info .manage_first--bottom ul{
        margin-left: 20px;
    }
    .manage_visual--block .img--block .manage_visual--img--mobile{
        display: block;
    }
    .manage_visual--block .img--block .manage_visual--img{
        display: none;
    }
    .manage_visual--block .text--block{
        top: 50px;
        left: 20px;
        gap: 5px;
    }
    .manage_visual--block .text--block strong{
        font-size: 18px;
    }
    .manage_visual--block .text--block p{
        font-size: 14px;
    }


    .manage_second--block{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .manage_second--block ul{
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        
    }
    .manage_second--block ul li{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
    }
    .manage_second--block ul li .user_info--block{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .manage_second--block ul li .img--block{
        min-width: 300px;
    }
    .manage_second--block ul li .img--block img{
        width: 100%;
        height: 100%;
    }
    .manage_second--block ul li strong{
        font-weight: var(--font-b);
        font-size: 24px;
    }
    .manage_second--block ul li p{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-weight: var(--font-m);
        font-size: 16px;
        color: var(--fc-subtit);
    }
    .manage_second--block ul li p span{}


    /* category */
    .cg_gallery--list .cg_gallery--item{
        width: 100%;
    }
    .cg_all_content .cg_tab--list{
        padding: 20px 0;
        gap: 5px;
        border-top: 2px solid #000;
    }
    .cg_all_content .cg_tab--item .cg_tab--btn{
        border: 1px solid var(--fc-subtit);
        font-size: 12px;
        font-weight: var(--font-sb);
        padding: 10px 5px;
    }
    .cg_gallerytwo--list,
    .cg_gallery--list{
        row-gap: 40px;
        margin-bottom: 50px;
    }
    .cg_pagination--block{
        gap: 10px;
        margin-bottom: 50px;
    }

    /* cg_textboard css */
    .cg_tb_content{
        padding: 30px 0;
        border-top: 2px solid #000;
    }
    .tb_pagination--block .tb_page_next--area span,
    .tb_pagination--block .tb_page_prev--area span{
        display: none;
    }
    /* donate css */

    .donate_how--block .how--tit{
        font-size: 28px;
    }
    .donate_how--block{
        gap: 20px;
        margin-top: 30px;
    }
    .donate_how--block .how--subtit strong{
        font-size: 16px;
    }
    .donate_how--block .how--subtit p{
        font-size: 14px;
    }
    .donate_how--block .how-list{
        gap: 10px;
    }
    .donate_how--block .how-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
    }
    .donate_how--block .how--notice{
        font-size: 12px;
    }
    .donate_why--block{
        flex-direction: column;
        gap: 30px;
        margin: 50px 0px;
    }
    .donate_how--block .how-item .img--block{
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }
    .donate_how--block .how-item .how-item--tit{
        
        font-size: 18px;
    }
    .donate_how--block .how-item .how-item--subtit{
        font-size: 16px;
    }
    .donate_why--block .why--tit{
        font-size: 28px;
    }
    .donate_why--block .why--item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: var(--mobile-padding) 0;
    }
    .donate_why--block .why--item .why_desc{
        flex: 1;
    }
    .donate_why--block .why--item .why_desc strong{
        font-size: 16px;
    }
    .donate_why--block .why--item .why_desc p{
        font-size: 14px;
    }
    .donate_outro--content{
        display: flex;
        position: relative;
        height: 300px;
    }
    .donate_outro--content .text--block strong{
        font-size: 18px;
    }
    .donate_outro--content .text--block p{
        font-size: 14px;
    }
    .donate_outro--content .donate--btn a{
        padding: 12px 22px;
        border: 1px solid var(--primary-white);
        font-size: 14px;
    }


    /* question page */
    .question_visual--img{
        display: none;
    }
    .question_visual--img--mobile{
        display: block;
    }
    .question_visual--block .text--block{
        top: 30px;
        left: 30px;
    }
    .question_visual--block .text--block strong{
        font-size: 18px;
    }
    .question_visual--block .text--block p{
        font-size: 14px;
        max-width: 300px;
    }
    .question_content--block .quest_content--tit{
        font-size: 28px;
        padding-top: 30px;
        
    }
    .question_content--block .question--list .question--item{
        padding: 20px;
    }
    .question_content--block .q_item--block strong{
        font-size: 16px;
    }
    .question_content--block .q_hidden--block strong{
        font-size: 14px;
    }
    .question_content--block .q_hidden--block.active{
        padding: 10px 0;
    }
    .question_content--block .q_item--block  .plus_ic{
        right: 0px;
        width: 20px;
        height: 20px;
    }
    .question_content--block .q_item--block  .minus_ic{
        right: 0px;
        width: 20px;
        height: 20px;
    }
    /* apply css */
    
    .apply--list .apply--item a{
        padding: 20px;
        gap: 20px;
    }
    .apply--item a .apply_title--block strong{
        font-size: 16px;
    }
    .apply--item a .apply_title--block p{
        font-size: 12px;
    }
    .apply--list .apply--item a .apply_cat{
        font-size: 12px;
    }
    .apply--list .apply--item a .arrow-ic--block{
        bottom: 15px;
        right: 20px;
    }

    /* gallerytwo css */
    .cg_gallerytwo--link .img--block{
        height: 230px;
    }

    .cg_gallerytwo--list .cg_gallerytwo--item{
        width: 100%;
    }

    /* search css */
    .search_header--block{
        margin-top: 60px;
    }
    .search_header--inner{
        padding: 30px var(--mobile-padding);
    }
    .search_header--inner .close--btn{
        top: 20%;
        right: 10px;
    }
    .search--list .search--item a{
        padding: 10px 0;
        gap: 10px;
    }
    .search--item a .search_title--block strong{
        font-size: 16px;
    }
    .search--list .search--item a .search_cat{
        font-size: 12px;
        width: 50px;
    }
    .search--list .search--item a .search_img--block{
        max-width: 80px;
        height: 60px;
        font-size: 16px;
    }
    .search--item a .search_title--block p{
        max-width: 250px;
    }
    .search_result--block{
        margin-top: 20px;
        font-size: 16px;
    }
    .search--list .search--item a .arrow-ic--block{
        display: none;
    }
    .search_header--block .side_form .sm-search--block{
        font-size: 16px;
        margin-left: 20px;
    }
}





@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
