/* hero_section */
.hero_section {}

.hero_section .swiper {}

.hero_section .swiper .swiper-wrapper .swiper-slide a {}

.hero_section .swiper .swiper-wrapper .hero_content {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero_content .img--block {
    filter: brightness(0.8);
    height: 100%;
}

.hero_section .swiper-slide .img--block {
    transition: all 5s ease;
}

.hero_section .swiper-slide-active .img--block {
    transform: scale(1);
    transition: all 5s ease;
}

.hero_section .swiper-slide-active .img--block.scale-up {
    transform: scale(1.05);
    transition: all 5s ease;
}

.hero_content .img--block img {
    width: 100%;
    height: 100%;
}

.hero_content .tx--block {
    position: absolute;
    top: calc(50% - 80px);
    left: 20%;
    /* transform: translateY(-50%); */
    display: flex;
    flex-direction: column;
    max-width: 55%;
    gap: 20px;
    color: var(--primary-white);
}

.hero_content .tx--block .hero-tit {
    font-size: 18px;
    font-weight: var(--font-b);
}

.hero_content .tx--block .hero-subtit {
    font-size: 50px;
    font-weight: var(--font-eb);
}

#heroSwiper .hero_swiper_control {
    position: absolute;
    top: 65%;
    left: 20%;
    width: 150px;
    height: 30px;
    z-index: 1;
}

#heroSwiper .autoplay--btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.autoplay--btn .play_ic--block,
.autoplay--btn .pause_ic--block {
    width: 14px;
    height: 14px;
    margin-top: 4px;
}

.autoplay--btn .play_ic--block {
    display: none;
}

#heroSwiper .hero_swiper_control img {
    width: 100%;
    height: 100%;
}

#heroSwiper .swiper-pagination {
    display: flex;
    align-items: center;
    width: auto;
    gap: 10px;
}

#heroSwiper .swiper-pagination-bullet,
.abswiper_section .swiper-pagination-bullet.swiper-pagination-bullet {
    background: transparent;
    border: 1px solid var(--primary-white);
    opacity: 1;
}

#heroSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active,
.abswiper_section .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
    height: 10px;
    border-radius: 15px;
    background: var(--primary-white);
}

#heroSwiper .hero_swiper_btn--group {
    position: absolute;
    top: calc(50% - 80px);
    right: 20%;
    /* transform: translateY(-50%); */
    width: 60px;
    /* height: 150px; */
    z-index: 1;
}

#heroSwiper .hero_swiper_btn--group .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all .4s ease;
    border: 1px solid var(--primary-white);
}

#heroSwiper .hero_swiper_btn--group svg {
    width: 20px;
    height: 20px;
}

#heroSwiper .hero_swiper_btn--group .btn.prev {
    position: absolute;
    top: 20px;
    left: 0;
}

#heroSwiper .hero_swiper_btn--group .btn.next {
    position: absolute;
    top: 90px;
    left: 0;
}

#heroSwiper .hero_swiper_btn--group .btn:hover {
    background: var(--primary-white);
}

#heroSwiper .hero_swiper_btn--group .btn:hover svg path {
    stroke: var(--primary-black) !important;
}


/* video_section */
.video_section {}

.video_section .video_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.video_inner .video_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 15px;
}

.video_inner .video_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 800px;
}

.video_inner .video_content .video_link {
    display: block;
    position: relative;
}

.video_inner .video_content .video_link .youtube_ic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 48px;
}

.video_inner .video_content a img {
    width: 100%;
    height: 100%;
}

.video_inner .video_desc {
    display: flex;
    align-items: center;
    gap: 20px;
}

.video_inner .video_desc .img--block {
    width: 160px;
    border: 1px solid #ddd;
    background: #ccc;
}

.video_inner .video_desc .img--block img {
    width: 100%;
    height: 100%;
}

.video_inner .video_desc .desc-tx {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.video_inner .video_desc .desc-tx .desc-tit {
    font-weight: var(--font-b);
    font-size: 16px;
}

.video_inner .video_desc .desc-tx .desc-subtit {
    font-weight: var(--font-m);
    font-size: 14px;
    color: var(--fc-subtit);
    line-height: 1.2;
}

.video_deco {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.video_deco_img01,
.video_deco_img02 {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20vw;
    height: 20vh;
    transform: translate(-50%, -50%);
}

.video_deco_img01 {
    top: 15%;
    left: 10%;
    background-image: url("/assets/img/main/video/bg_img01.png");
}

.video_deco_img02 {
    top: 90%;
    left: 80%;
    background-image: url("/assets/img/main/video/bg_img02.png");
}

/* together */
.together_section {
    background: var(--odd-bg);
}

.together_section .together_inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.together_section .together_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}

.together_content .tg--left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.together_content .tg--left .tg_subtit {
    min-width: max-content;
}

.together_content .tg--left .tg_download--btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #585656;
    padding: 12px 26px;
    font-size: 20px;
    font-weight: var(--font-b);
    margin-top: 35px;
    transition: all .2s ease;
}

.together_content .tg--left .tg_download--btn:hover {
    background: linear-gradient(to right, var(--primary-blue), var(--primary-green));
    color: var(--primary-white);
    border-color: transparent;
}

.together_content .tg--right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.together_content .tg--right .tg_btn--list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.together_content .tg--right .tg_btn--item {}

.together_content .tg--right .tg_btn--item a {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all .5s ease;
}

.together_content .tg--right .tg_btn--item a:hover {
    transform: translateY(-3px);
}

.tg--right .tg_btn--item a .img--block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #ddd;
}

.tg--right .tg_btn--item a p {
    text-align: center;
}


/* project */
.pj_content--block {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.pj_content--block .flex {
    flex: 1;
}

.pj_content--block .grid_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    flex: 1;
    gap: 40px;
}

.pj_content--block .pj_img_box {
    position: relative;
    width: 270px;
    height: 270px;
    transition: all .4s ease;
}

.pj_content--block .pj_img_box a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.pj_img_border {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    transition: all .4s ease;

}

.pj_content--block .pj_img_box.first:hover .pj_img_border {
    box-shadow: 0 0 0 10px #fff inset;
}

.pj_content--block .pj_img_box:hover .pj_img_border {
    box-shadow: 0 0 0 5px #fff inset;
}

.pj_content--block .pj_img_box.first {
    width: 580px;
    height: 580px;
}

.pj_content--block .pj_img_box.first .pj_img_box-tx {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px 10px;
    background: var(--primary-white);
}

.pj_content--block .pj_img_box.first .pj_img_box-tx p {
    font-weight: var(--font-b);
    font-size: 18px;
}

.pj_content--block .pj_img_box .pj_img_box-tx {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 10px;
    background: var(--primary-white);
}

.pj_content--block .pj_img_box .pj_img_box-tx p {
    font-size: 12px;
    font-weight: var(--font-sb);
}

.pj_content--block .pj_img_box img {
    width: 100%;
    height: 100%;
}

/* news */

.news_section {
    background: var(--odd-bg);
}

.news_content .news_list {
    display: flex;
    gap: 45px;
}

.news_content .news_item {
    flex: 1;
}

.news_content .news_item a {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .4s ease;
}

.news_content .news_item .img--block {
    border: 10px solid #fff;
    transition: all .4s ease;
}

.news_content .news_item .img--block img {
    width: 100%;
    height: 100%;

}

.news_content .news_item a .news_tx--block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news_tx--block .news_tx--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_tx--block .news_tx--top .media_company {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: var(--font-sb);
    font-size: 12px;
    background: var(--primary-white);
}

.news_tx--block .news_tx--top .news_date {
    font-weight: var(--font-sb);
    font-size: 13px;
    color: #919191;
}

.news_tx--block .news_tx--bot {
    color: var(--primary-black);
    font-weight: var(--font-b);
    font-size: 20px;
}


/* notice */
.notice_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.notice_content .notice_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.notice_item {
    border: 1px solid #ddd;
    flex: 1;
    transition: all .4s ease;
}

.notice_item:hover {
    box-shadow: rgba(0, 0, 0, 0.25) -2px 3px 90px -20px !important;

}

.notice_item a {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

.notice_item a p {
    color: #585656;
    font-size: 14px;
    font-weight: var(--font-b);
}

.notice_item a strong {
    color: #919191;
    font-size: 20px;
    font-weight: var(--font-b);
    transition: all .4s ease;
}

.notice_item a span {
    font-weight: var(--font-sb);
    font-size: 13px;
    color: #919191;
}

/* notive active 시에 */
.notice_item.active {
    border: 1px solid #565656;
}

.notice_item.active a p {
    color: var(--primary-green);
}

.notice_item.active a strong {
    color: var(--primary-black);
}

.notice_item a span {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.notice_item.dead .notice_more--block {
    visibility: hidden;
}

.notice_item.dead:hover {
    border: 1px solid var(--primary-black);
}

.notice_item.dead:hover a strong {
    color: var(--primary-black);
}






/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* ABOUT PAGE CSS */





.abswiper_section {}

.abswiper_content {
    display: flex;
}

.abswiper_section .abswiper--left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    background: var(--primary-blue);
    flex: 1;
}

.abswiper_section .abswiper--left .abswiper--left-text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.abswiper_section .abswiper--left .abswiper--left-text p {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
}

.abswiper_section .about_swiper {
    max-width: 600px;
    height: 600px;
}

.abswiper_section .about_swiper .about_swiper_wrapper {}

.about_swiper_slide {}

.about_swiper_slide .img--block {
    display: block;
    width: 100%;
    height: 100%;
}

.about_swiper_slide .img--block img {
    width: 100%;
    height: 100%;

}

.about_swiper_control {
    position: relative;
    display: flex;
    margin-top: 40px;
}

.about_swiper_control .btn {}

.about_swiper_control img {
    width: 100%;
    height: 100%;
}

.about_swiper_control .btn.autoplay--btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 18px;
}

.abswiper_section .swiper-pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: auto !important;
}



/* ab_img--area */
.ab_img--area {}
.ab_sim_img_m{display: none;}
.ab_img--area_content {
    padding: 100px;
    background: #f7f7f7;
}

.ab_img--area .img--block {
}

.ab_img--area .img--block img {
    width: 100%;
    height: 100%;
}

/* ab_caf--area */

.ab_caf--area {}

.ab_caf--area .ab_caf--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 95px 0;
}

.ab_caf--area .ab_caf--content .caf-tit {
    font-weight: var(--font-b);
    font-size: 34px;
    
}

.ab_caf--area .ab_caf--content .img--block {
    max-width: 360px;
    height: 278px;
}

.ab_caf--area .ab_caf--content .img--block img {
    width: 100%;
    height: 100%;
}

.ab_caf--area .ab_caf--content .caf-subtit {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ab_caf--area .ab_caf--content .caf-subtit strong {
    font-weight: var(--font-b);
    font-size: 20px;
    line-height: 1.4;
}

.ab_caf--area .ab_caf--content .caf-subtit span {
    font-weight: var(--font-m);
    font-size: 16px;
    line-height: 1.6;
    color: #585656;
}





/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* SUPPORT PAGE CSS */

.support_section {
    padding: 100px 0;
}

.support_section .support_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px 60px;
    /* row-gap, column-gap */
}

.support_section .support_list .support_item {
    transition: all .4s ease;
}
.support_section .support_list .support_item a {}

.support_section .support_list .support_item a img {
    width: 100%;
    height: 100%;
}



/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* HISTORY PAGE CSS */

.history_info--section {}

.ht_info--content {
    display: flex;
    align-items: center;
}

.ht_info--content .ht_info--tx {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.ht_info--content .ht_info--tx strong {
    display: block;
    font-size: 34px;
}

.ht_info--content .ht_info--tx p {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 16px;
    color: #585656;
    max-width: 450px;
}

.ht_info--content .ht_info--tx p span {
    line-height: 1.6;
}

.ht_info--content .ht_info--img {
    padding: 63px 50px;
    width: 600px;
    height: 650px;
    flex: 1;
    background: #f7f7f7;
}

.ht_info--content .ht_info--img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}







/* project section */
.projects-sec {
    position: relative;
    height: 800vh;
    /* padding: 0 50px; */
}

.projects-inner {
    position: sticky;
    display: flex;
    top: 0px;
}

.projects-tit {
    position: absolute;
    top: 150px;
    left: 360px;
    font-size: 34px;
    color: #fff;
    font-weight: var(--font-b);
    z-index: 10;
}

.projects-inner .projects-list {
    display: flex;
    height: 100vh;
}

.projects-inner .projects-item {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.projects-inner .projects-item:hover .project-img-block img {
    transform: scale(1.01);
}

.project-img-block video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-img-block {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
    z-index: -10;
}

.project-img-block img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.projects-inner .projects-link {
    width: 100%;
    height: 100%;
}

.projects-inner .projects-link img {
    transition: .5s ease;
}

.project-tx-block {
    position: absolute;
    top: 60%;
    left: 360px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    transform: translateY(-50%);
}

.project-tx-block .pj-tit {
    font-weight: var(--font-eb);
    font-size: 45px;
    color: #fff;
}

.pj-subtit {
    font-weight: var(--font-b);
    font-size: 24px;
    color: #fff;
}

.projects-sec::-webkit-scrollbar {
    scrollbar-width: none !important;
    display: none !important;
}





.ht_tab--section{
    padding: 80px 0 0 0;
}
.ht_tab--section .tab-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ht_tab--section .ht_title{
    display: block;
    margin-bottom: 30px;
    font-size: 34px;
}
    
.ht_tab--section .ht_tab--content{
    background: #f7f7f7;
    padding: 60px 60px 150px 70px;
    transition: all .4s ease;
    overflow: hidden;
}
.ht_tab--section .tab--list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type:disc;
    margin-left: 18px;
    color: #585656;
    font-size: 16px;
}

.ht_tab--section .tab-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.tab-button{
    padding: 18px 26px;
    border: 2px solid #585656;
    color: #000;
    font-size: 20px;
    font-weight: var(--font-b);
    transition: all .4s ease;
}


.tab-button.active {
    background: var(--primary-blue);
    border: 2px solid var(--primary-blue);
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
    height: max-content;

}


.ht_active--section{
    padding: 50px 0 100px 0;
}
.ht_active--content{}
.ht_active--content .ht_active--list{
    display: flex;
    gap: 45px;
}
.ht_active--content .ht_active--item{}

.ht_active--content .ht_active--item a{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ht_active--content .ht_active--item a:hover .img--block{
    transform: translateY(-3px);
    box-shadow: var(--box-shadow);
}
.ht_active--content .ht_active--item a:hover .text--block{
    transform: translateY(-3px);
}
.ht_active--content .ht_active--item a .img--block{
    transition: all .4s ease;

}
.ht_active--content .ht_active--item a .img--block img{
    width: 100%;
    height: 100%;
}
.ht_active--content .ht_active--item a .text--block{
    font-weight: var(--font-b);
    font-size: 20px;
    transition: all .4s ease;
}



/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

/* MANAGE PAGE CSS */

.manage_section{}
.manage_visual--block{
    position: relative;
}
.manage_visual--block .img--block{ }
.manage_visual--block .img--block .manage_visual--img--mobile{
    display: none;
}
.manage_visual--block .manage_visual--img{
    background-image: url("../img/main/manage/manage_visual.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 730px;
}   

.manage_visual--block .text--block{
    position: absolute;
    top: 10%;
    left: 7%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.manage_visual--block .text--block strong{
    display: block;
    font-weight: var(--font-b);
    font-size: 24px;
    line-height: 1.4;
    color: #fff;
}
.manage_visual--block .text--block p{
    font-weight: var(--font-sb);
    font-size: 16px;
    line-height: 1.4;
    color: #ddd;
}


.manage_first--block{
    margin-top: 100px;
    display: flex;
    gap: 60px;
}
.manage_first--block .manage_first_img--block{

}
.manage_first--block .manage_first_img--block img{
    width: 100%;
    height: 100%;
}

.manage_first_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.manage_first_info .manage_first--top{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.manage_first_info .manage_first--top .name{
    display: block;
    font-weight: var(--font-b);
    font-size: 28px;
}
.manage_first_info .manage_first--top ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.manage_first_info .manage_first--top ul li{
    font-weight: var(--font-m);
    font-size: 16px;
    color: #585656;
    overflow: hidden;
}
.manage_first_info .manage_first--top ul li strong{
    color: #000;
}
.manage_first_info .manage_first--bottom{
    display: flex;
    gap: 50px;
    padding: 20px 30px;
    max-width: 653px;
    background: #f7f7f7;
}
.manage_first_info .manage_first--bottom strong{
    font-weight: var(--font-b);
    font-size: 20px;
}
.manage_first_info .manage_first--bottom ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: disc;
}
.manage_first_info .manage_first--bottom ul li{
    font-weight: var(--font-m);
    font-size: 16px;
    color: #585656;
}




.manage_second--block{
    margin-top: 80px;
    margin-bottom: 100px;
}
.manage_second--block ul{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.manage_second--block ul li{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.manage_second--block ul li .user_info--block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.manage_second--block ul li .img--block{
    min-width: 250px;
}
.manage_second--block ul li .img--block img{
}
.manage_second--block ul li strong{
    font-weight: var(--font-b);
    font-size: 24px;
}
.manage_second--block ul li p{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: var(--font-m);
    font-size: 16px;
    color: #585656;
}
.manage_second--block ul li p span{}























/* marquee */
.marquee--block {
    background: var(--odd-bg);
    overflow: hidden;
}

.marquee--block .marquee_area {
    overflow: hidden;
}

.marquee_track {
    display: flex;
    animation: marquee 20s linear infinite;
    width: max-content;
}

.marquee--block .marquee_list {
    display: flex;
    padding-left: 40px;
}

.marquee--block .marquee_list .marquee_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    padding-left: 40px;
}

.marquee--block .marquee_list .marquee_item img {
    width: 100%;
    height: 100%;
}

/* @media screen and (max-width:1024px) {
    .video_deco.video_deco_img01 {
        top: 0;
        left: 0;
    }
    .video_deco.video_deco_img02{
        display: flex;
        justify-content: flex-end;
        bottom: 0;
        right: 0;
    }
    .video_deco img{
        width: 50%;
        height: 50%;
    }
} */

@media screen and (max-width:992px) {

    /* hero */
    .hero_section .swiper .swiper-wrapper .hero_content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero_section .swiper {
        height: 60vh;
    }

    .hero_content .tx--block {
        position: absolute;
        top: calc(60% - 60px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 100%;
        gap: 20px;
        color: var(--primary-white);
    }

    .hero_content .tx--block .hero-tit {
        text-align: center;
        font-size: 14px;
    }

    .hero_content .tx--block .hero-subtit {
        text-align: center;
        font-size: 28px;
    }

    #heroSwiper .hero_swiper_btn--group {
        display: none;
    }

    #heroSwiper .hero_swiper_control {
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #heroSwiper .swiper-pagination {
        position: relative;
        top: 0px;
    }

    #heroSwiper .autoplay--btn {
        position: relative;
        margin-left: 30px;
        margin-bottom: 16px;
    }

    /* video */
    .video_inner .video_content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .video_inner .video_desc .desc-tx .desc-tit {
        font-size: 14px;
    }

    .video_inner .video_desc .desc-tx .desc-subtit {
        font-size: 12px;
    }

    .video_deco {
        display: none;
    }

    /* together */
    .together_section .together_inner {
        padding: 0;
    }

    .together_section .together_content {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .together_content .tg--left {
        align-items: center;
    }

    .together_content .tg--left .tg_download--btn {
        /* width: 200px; */
        /* height: 47px; */
        font-size: 16px;
        margin: 20px 0;
    }

    .together_content .tg--right {
        justify-content: center;
    }

    .together_content .tg--right .tg_btn--list {
        justify-content: space-between;
        gap: 0;
        width: 100%;
    }

    .tg--right .tg_btn--item a .img--block {
        width: 100px;
        height: 100px;
    }

    .tg--right .tg_btn--item a .img--block img {
        width: 45%;
        height: 45%;
    }

    .together_content .tg--left .tg_subtit {
        min-width: auto;

    }


    /* project */
    .pj_content--block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .pj_content--block .pj_img_box.first {
        width: 100%;
        height: 100%;
        grid-column: span 1;
        grid-row: auto;
    }

    .pj_content--block .grid_wrapper {
        display: contents;
    }

    .pj_content--block .pj_img_box {
        width: 100%;
        height: 100%;
        flex: 1;
    }

    .pj_content--block .grid_wrapper .pj_img_box:last-child {
        display: none;
    }

    .pj_content--block .pj_img_box.first .pj_img_box-tx {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
    }

    .pj_content--block .pj_img_box.first .pj_img_box-tx p {
        font-weight: var(--font-sb);
        font-size: 12px;
    }

    .pj_content--block .pj_img_box .pj_img_box-tx {
        right: 10px;
    }
    .project-tx-block .pj-tit {
        font-size: 32px;
    }
    /* news */
    .news_content .news_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .news_content .news_item a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    .news_content .news_item .img--block {
        max-width: 150px;
        border: 6px solid #fff;
    }

    .news_tx--block .news_tx--top {
        justify-content: flex-start;
        gap: 10px;
    }

    .news_tx--block .news_tx--bot {
        font-size: 18px;
    }

    /* notice */
    .notice_content {
        gap: 0px;
    }

    .notice_content .notice_list {
        flex-direction: column;
        gap: 10px;
    }

    .notice_item {
        flex: 1;
        width: 100%;
    }

    /* marquee */
    .marquee--block .marquee_list {
        display: flex;
        padding-left: 10px;
    }

    .marquee--block .marquee_list .marquee_item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        padding-left: 10px;
    }




    /* about page */
    .abswiper_content {
        display: flex;
        flex-direction: column-reverse;
    }

    .abswiper_section .about_swiper {
        max-width: 100%;
        height: auto;
        background: #ccc;

    }

    .abswiper_section .abswiper--left {
        padding-left: 0px;
        padding-right: 0px;
        padding: 30px 30px 10px;
    }

    .abswiper_section .abswiper--left .abswiper--left-text {
        font-weight: 500;
        gap: 10px;
    }

    .about_swiper_control {
        margin-top: 15px;
    }

    .ab_img--area_content {
        padding: 40px 20px;
    }
    .ab_caf--area .ab_caf--content .caf-tit {
        font-size: calc(var(--fz-maintit--mobile) - 8px);
    }
    .ab_sim_img_m{display: block;}
    .ab_sim_img_pc{display: none;}
    .ab_caf--area .ab_caf--content {
        padding: 50px 0;
    }
    .ab_caf--area .ab_caf--content .caf-subtit strong {
        font-size: 18px;
    }
    .ab_caf--area .ab_caf--content .caf-subtit span {
        font-size: 14px;
    }
    
    .abswiper_section .abswiper--left .abswiper--left-text p {
        font-size: 16px;
    }
    
    /* sponsor page */
    .support_section {
        padding: 30px 0;
    }
    .sp_header--banner .text--block {
        left: 20px;
    }
    .support_section .support_list {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        gap: 20px 20px;
        /* row-gap, column-gap */
    }
    /* history page */

    /* info */
    .ht_info--content {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .ht_info--content .ht_info--img{
        padding: 0;
        width: 100%;
        height: 100%;
    }
    
    /* mainproject */
    .projects-tit {
        position: absolute;
        top: 150px;
        left: 10px;
        font-size: 34px;
    }
    .project-tx-block {
        position: absolute;
        top: 60%;
        left: 10px;
    }
    /* tab */
    .ht_tab--section .ht_tab--content{
        padding: 20px 0 100px 0;
    }
    .ht_tab--section .ht_title{
        font-size: 28px;
    }
    .tab-button{
        padding: 12px 20px;
        border: 2px solid #585656;
        font-size: 16px;
    }
    .ht_active--content .ht_active--item a .text--block{
        font-weight: var(--font-sb);
        font-size: 18px;
    }
    .ht_tab--section .tab-buttons{
        padding-left: 10px;
    }
    .ht_tab--section .tab--list{
        padding-left: 10px;
    }
    /* active */
    .ht_active--content .ht_active--list{
        display: flex;
        flex-direction: column;
    }
    .ht_active--content .ht_active--item{
        flex: 1;
    }
    .ht_active--content .ht_active--item a{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .ht_active--content .ht_active--item a .img--block{
        max-width: 150px;
    
    }

    /* manage page */
    .manage_first--block{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .manage_first--block .manage_first_img--block{
        width: 300px;
    }
    .manage_first_info .manage_first--bottom{
        flex-direction: column;
        gap: 10px;
    }
    
    .manage_first_info .manage_first--bottom ul{
        margin-left: 20px;
    }
    .manage_visual--block .img--block .manage_visual--img--mobile{
        display: block;
    }
    .manage_visual--block .img--block .manage_visual--img{
        display: none;
    }
    .manage_visual--block .text--block{
        top: 20px;
        left: 20px;
        gap: 5px;
    }
    .manage_visual--block .text--block strong{
        font-size: 18px;
    }
    .manage_visual--block .text--block p{
        font-size: 14px;
    }


    .manage_second--block{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .manage_second--block ul{
        flex-direction: column;
        align-items: flex-start;
        
    }
    .manage_second--block ul li{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
    }
    .manage_second--block ul li .user_info--block{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .manage_second--block ul li .img--block{
        min-width: 300px;
    }
    .manage_second--block ul li .img--block img{
        width: 100%;
        height: 100%;
    }
    .manage_second--block ul li strong{
        font-weight: var(--font-b);
        font-size: 24px;
    }
    .manage_second--block ul li p{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-weight: var(--font-m);
        font-size: 16px;
        color: #585656;
    }
    .manage_second--block ul li p span{}



}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}